<!DOCTYPE HTML>

<html>
<head>
    <title>Semantive-Task</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="/js/controller.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="validation.css"/>
</head>
<body>

<div ng-app = "app">
    <div ng-controller="postcontroller">
        <form name="clientForm" ng-submit="clientForm.$valid && submitClientForm()" ng-init="getProfessions()">
            <div class="form-group">
                <label class="control-label col-sm-5" for="clientNameId">Nazwa:</label>
                <div class="col-sm-10">
                    <input ng-required="true" type="text" class="form-control" name="name" id="clientNameId"
                           placeholder="Podaj nazwę klienta" ng-model="name" ng-pattern="/^[A-Z][a-z]*$/"/>
                </div>
                <span class="col-sm-10 helpInfo" ng-show="clientForm.name.$invalid && clientForm.name.$dirty">
                    Nazwa powinna rozpoczynać się od wielkiej litery, kolejne litery małe.
                </span>
                <label class="control-label col-sm-5" for="clientAgeId">Wiek:</label>
                <div class="col-sm-10">
                    <input ng-required="true" type="number" class="form-control" name="age" id="clientAgeId"
                           placeholder="Podaj wiek klienta" ng-model="age" ng-pattern="/^(2[5-9]|[3-7][0-9]|80)$/"/>
                </div>
                <span class="col-sm-10 helpInfo" ng-show="clientForm.age.$invalid && clientForm.age.$dirty">
                    Wiek powinien być w zakresie od 25 do 80.
                </span>
                <label class="control-label col-sm-5" for="clientProfessionId">Zawód:</label>
                <div class="col-sm-10">
                    <select type="text" class="form-control" name="professionId" id="clientProfessionId" ng-model="data.selectedProfessionId" required>
                        <option value="" ng-show="false"></option>
                        <option ng-repeat="p in professions" value = "{{p.id}}">{{p.professionName}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-0 col-sm-5">
                    <button type="submit" class="btn btn-primary">Zapisz</button>
                </div>
            </div>
        </form>

        <div class="col-sm-offset-2 col-sm-10">
            <p>{{postResultMessage}}</p>
        </div>
    </div>
</div>

</body>
</html>